@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";


body, html {
    overflow-x: hidden;
    box-sizing: border-box;
}

.title {
    font-family: "Anton", sans-serif;
    font-size: 200px;
    animation: Welcome .3s ease;
}

.subrayado {
    position: relative;
}

.subrayado::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(180, 38, 38);
    transition: transform 0.3s ease;
    width: 100%;
    transform: scaleX(0);
}

.subrayado:hover::after {
    transform: scaleX(1);
}

@keyframes Welcome {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.header-items {
    opacity: 0;
    /* Empieza invisible */
    animation: HeaderItems 0.5s ease-out forwards;
}

@keyframes HeaderItems {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}